<header>
  <nav>
    <%= link_to home_url do %>
      <%= image_tag "app/logo_192.png", width: 48, height: 48 %>
    <% end %>
    <ul>
      <% if current_user %>
        <li><%= link_to_unless_current 'Account', account_url %></li>
      <% else %>
        <li><%= link_to_unless_current 'Sign in', new_user_session_url %></li>
      <% end %>
    </ul>
  </nav>

  <% flash.each do |name, msg| -%>
    <%= content_tag :sup, msg, class: name %>
  <% end %>
</header>

<main>
  <%= yield %>
</main>

<footer>
</footer>

<%= javascript_include_tag "app" %>
