%link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

%header
  %nav
    .nav-wrapper
      = link_to home_url, class: "brand-logo" do
        %span.material-icons camera_alt
        Picabo
      %ul#nav-mobile.right.hide-on-small-only
        = render "app/nav-links"

%ul#slide-out.sidenav
  = render "app/nav-links"

.fixed-action-btn.hide-on-med-and-up
  %a.btn-floating.btn-large.red.sidenav-trigger(data-target="slide-out" href="#")
    %i.large.material-icons menu

%main.container
  = yield

%footer

= javascript_include_tag "app"
= render "app/flash"
